

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<title>Указ Президента Российской Федерации от 12.08.2019 № 378 ∙ Официальное опубликование правовых актов ∙ Официальный интернет-портал правовой информации</title>

	<link rel="shortcut icon" href="/Content/themes/Main/favicon/favicon.ico" />
	<link rel="icon" sizes="16x16 32x32 64x64" href="/Content/themes/Main/favicon/favicon.ico" />
	<link rel="icon" type="image/png" sizes="196x196" href="/Content/themes/Main/favicon/favicon-192.png" />
	<link rel="icon" type="image/png" sizes="160x160" href="/Content/themes/Main/favicon/favicon-160.png" />
	<link rel="icon" type="image/png" sizes="96x96" href="/Content/themes/Main/favicon/favicon-96.png" />
	<link rel="icon" type="image/png" sizes="64x64" href="/Content/themes/Main/favicon/favicon-64.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/Content/themes/Main/favicon/favicon-32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/Content/themes/Main/favicon/favicon-16.png" />
	<link rel="apple-touch-icon-precomposed" href="/Content/themes/Main/favicon/favicon-57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/Content/themes/Main/favicon/favicon-60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/themes/Main/favicon/favicon-72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/Content/themes/Main/favicon/favicon-76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/themes/Main/favicon/favicon-114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/Content/themes/Main/favicon/favicon-120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/themes/Main/favicon/favicon-144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/Content/themes/Main/favicon/favicon-152.png" />
	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/Content/themes/Main/favicon/favicon-180.png" />
	<link rel="apple-touch-icon" href="/Content/themes/Main/favicon/favicon-57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/Content/themes/Main/favicon/favicon-60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/Content/themes/Main/favicon/favicon-72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/Content/themes/Main/favicon/favicon-76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/Content/themes/Main/favicon/favicon-114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/Content/themes/Main/favicon/favicon-120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/Content/themes/Main/favicon/favicon-144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/Content/themes/Main/favicon/favicon-152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/Content/themes/Main/favicon/favicon-180.png" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/Content/themes/Main/favicon/favicon-144.png" />
	<meta name="msapplication-config" content="/Content/themes/Main/favicon/browserconfig.xml" />
	<meta http-equiv='Content-Type' content='Type=text/html; charset=utf-8' />
	<link href="/Content/themes/Main/jQueryUI/flick/BundlesStyles?v=X3EF4UyHTQK7KG1LLlR58bEf0cK5_2lQ6WyJl74DrfY1" rel="stylesheet"/>

	<link href="/Content/themes/Main/calendar.css" rel="stylesheet"/>

	<link href="/Content/bootstrap.min.css" rel="stylesheet"/>

	<link href="/Content/bootstrap-theme.min.css" rel="stylesheet"/>

	<link href="/Content/css/select2.css" rel="stylesheet"/>

	<link href="/Content/select2-bootstrap.css" rel="stylesheet"/>

	<link href="/Content/themes/Main/jquery.selectBox.css" rel="stylesheet"/>

	<link href="/Content/themes/Main/layout.css" rel="stylesheet"/>

	
	<link href="/Content/fontawesome-all.min.css" rel="stylesheet"/>

	<link href="/Content/fontawesome.min.css" rel="stylesheet"/>

	<link href="/Content/themes/Main/style.css" rel="stylesheet"/>



	
	<link rel="stylesheet" href="/Content/themes/Main/BundlesPrintStyles?v=IZEMdAGRqSgbRc7uARWPhq-G1vb_tW2Mp90XsrBQ1co1" type="text/css" media="print" />



	<script src="/Scripts/modernizr-2.6.2.js"></script>

	<script src="/Scripts/jquery-1.10.1.js"></script>

	<script src="/Scripts/jquery-migrate-1.2.1.js"></script>

	<script src="/Scripts/jquery-ui-1.10.3.custom.js"></script>

	<script src="/Scripts/calendar.js"></script>

	
	<script src="/Scripts/content.js"></script>

	<script src="/Scripts/jquery.selectBox.js"></script>

	<script src="/Scripts/jquery.selectboxParam.js"></script>

	<script src="/Scripts/inputmask/jquery.inputmask.js"></script>

	<script src="/Scripts/inputmask/jquery.inputmask.date.extensions.js"></script>

	<script src="/Scripts/i18n/jquery.ui.datepicker-ru.js"></script>

	<script src="/Scripts/script.js"></script>

	<script src="/Scripts/RF.js"></script>

	<script src="/Scripts/raphael.js"></script>

	<script src="/Scripts/select2.js"></script>


	
	
    <meta property="og:image" content="http://pravo.gov.ru/logo.jpg" />
    <meta name="description" content="Указ Президента Российской Федерации от 12.08.2019 № 378
 &quot;Об утверждении состава Совета при Президенте Российской Федерации по русскому языку&quot;" />


</head>
<body>
    <div class="page-container">
        <div class="content-wrap">

            <script type="text/javascript">
                //$(document).ready(function () {
                //    var navElem = $(".nav_main_item").last();
                //    var indicatorPosition = navElem.position().left + navElem.width() / 2 - 8;
                //    $("#menuArrow").css("left", indicatorPosition);
                //});
            </script>

            <header>
                <div class="header">
                    <div class="header-bg-block"><div class="header-bg"></div></div>
                    <div class="header-over"></div>

                    <div class="container header-content">
                        <div class="row">
                            <div class="col-xs-12 text-right top-header">
                            </div>
                            <div class="col-xs-12">
                                <div class="logo">
                                    <a href="http://pravo.gov.ru" title="На главную страницу портала" alt="На главную страницу портала"><img class="img-responsive" alt="Официальный интернет-портал правовой информации" src="/Content/themes/Main/images/logo.png" /></a>
                                </div>
                                <div class="site-title">
                                    Официальный интернет-портал правовой информации
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="data-top">
                                    27 апреля 2022 года
                                </div>
                            </div>
                        </div>
                    </div><!-- /.container.header-content -->
                </div><!-- /.header -->
                <div class="top_menu notforprint">
                    <div class="container">
                        <div class="row">
                            <ul class="pull-left">
                                <li>
                                    <a title="На главную страницу портала" class="main-item with-icon" href="http://pravo.gov.ru">
                                        <i class="icon icon-home"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="main-item without-icon" href="/Search/Period?type=daily" title="27 апреля">СЕГОДНЯ</a>
                                </li>
                                <li>


                                    <a class="main-item without-icon" href="/Search/Period?type=weekly" title="Текущая неделя, с понедельника по воскресенье - c 25 по 01 мая">НЕДЕЛЯ</a>
                                </li>
                                <li>
                                    <a class="main-item without-icon" href="/Search/Period?type=monthly" title="Текущий месяц - апрель">МЕСЯЦ</a>
                                </li>
                                <li>
<a class="main-item without-icon" href="/Search">ПОИСК <i class='fa fa-search faright'></i></a>
                                </li>
                                <li>
<a class="main-item without-icon" href="/Calendar">КАЛЕНДАРЬ ОПУБЛИКОВАНИЯ <i class='far fa-calendar-alt faright'></i></a>
                                </li>
                            </ul>
                            <ul class="pull-right">
                                <li>
                                    <a class="main-item with-icon" href="/RssList/Index" title="RSS-лента"><img alt="" src="/Content/themes/Main/images/rss.svg" style="width:16px; height:16px;" /></a>
                                </li>
                                <li>
                                    <a class="main-item with-icon" href="/HtmlConstructor/Index" style="padding-left:5px; padding-right:5px;" title="Html конструктор"><img alt="" src="/Content/themes/Main/images/html-coding.svg" style="width:20px;" /></a>
                                </li>
                                <li>
                                    <a class="main-item with-icon" href="/Help/Index" title="Api интерфейс"><img alt="" src="/Content/themes/Main/images/api.png" style="width:25px;" /></a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div><!-- /.top_menu -->

            </header>

            <div class="menuLine notforprint">
                <div class="container">
                    <div class="row">

                        <!-- -- -->

                    </div>
                </div>
            </div>

            <div class="container content-container">
                <div class="modal notforprint"> 
                </div>
                <div>
                    



<br />


<script type="text/javascript">
    $(document).ready(function () {
        $('#RangeSize').change(function () {
            $(this).parents('form').submit();
        });
    });
</script>

    <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: "/api/DocumentText?eonumber=0001201908120006",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (result) {
                        if (result) {
                            $('#doc_text').show();
                        }
                    }
                });
            });
    </script>



<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="https://yastatic.net/share2/share.js" async></script>

<table align="center" border="0" cellspacing="4" cellpadding="0" style="width:97%; margin-left: auto; margin-right: auto;">
    <tr class="notforprint">
        <td align="left" valign="top" width="41px">
            <img alt="doc" height="40" width="35" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-color: currentColor; border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; float: left; display: block;"
                 src="/Content/themes/Main/images/doc.gif" />
        </td>
        <td align="left" colspan="2">
            <span class="doccaption">Указ Президента Российской Федерации от 12.08.2019 № 378
 &quot;Об утверждении состава Совета при Президенте Российской Федерации по русскому языку&quot;</span>
            <div></div>


            <br />
        </td>
    </tr>
    <tr class="notforprint">
        <td></td>
        <td style="vertical-align:top;">
            <table>
                <tr>
                    <td>
                        <span style="text-decoration: underline;" title="Дата опубликования на Официальном интернет-портале">Дата опубликования</span>: <span class="information2" title="Дата опубликования на Официальном интернет-портале» ">
                            12.08.2019
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:6px;">
                        <span style="text-decoration: underline; margin-top:16px;" title="Номер опубликования на Официальном интернет-портале">Номер опубликования</span>: <span class="information" title="Номер опубликования на Официальном интернет-портале">
                            0001201908120006
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:6px;">
                        <div class="ya-share2" data-services="vkontakte,odnoklassniki,moimir,telegram" data-description="Официальный интернет-портал правовой информации" data-image="http://pravo.gov.ru/logo.jpg" data-url="http://publication.pravo.gov.ru/Document/View/0001201908120006" data-title="Указ Президента Российской Федерации от 12.08.2019 № 378 &quot;Об утверждении состава Совета при Президенте Российской ..." data-size="s" data-theme="true"></div>
                    </td>
                </tr>
            </table>

        </td>
        <td style="vertical-align:top;">
            <table>
                <tr>
                    <td>
                        <div class="inline left">
<a href="/File/GetFile/0001201908120006?type=pdf" title="PDF-файл"><img alt="" src="/Content/themes/Main/images/pdf-22.png" style="float: left;" /></a><span style="text-decoration: none;">&nbsp;-&nbsp;</span><a class="navigation" href="/File/GetFile/0001201908120006?type=pdf">Скачать PDF-файл для качественной печати (420 Кб)</a>                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:3px;">
                        <div style="float: left;">
                            <a href="#print" onclick="PrintDoc();">
                                <img alt="Печать" border="0" style="float: left;" src="/Content/themes/Main/images/print-22.png" />
                            </a><span style="text-decoration: none;">&nbsp;-&nbsp;</span><a href="#print" onclick="PrintDoc();" class="navigation">Печать документа</a>
                        </div>
                        <a class="quest" title="Для печати всего документа в списке &quot;Показывать страниц&quot; выберите &quot;Все&quot;">?</a>
                    </td>
                </tr>
                                                    <tr id="doc_text" style="display:none">
                        <td style="padding-top:3px;">
                            <div class="inline left">
                                <a href="http://ips.pravo.gov.ru:8080/default.aspx?pn=0001201908120006" target="_blank">
                                    <img alt="Посмотреть текст документа" border="0" style="float: left;" src="/Content/themes/Main/images/html-22.png" />
                                </a><span style="text-decoration: none;">&nbsp;-&nbsp;</span><a href="http://ips.pravo.gov.ru:8080/default.aspx?pn=0001201908120006" target="_blank" class="navigation">Текст в ИПС «Законодательство России»</a>
                            </div>
                        </td>
                    </tr>
            </table>
        </td>
    </tr>

</table>
<div id="DocumentDiv" style="width:100%; margin-left: auto; margin-right: auto; padding: 0px;">
        <table align="center" border="0" cellspacing="4" cellpadding="0" style="width:97%; margin-left: auto; margin-right: auto;">
            <tr class="notforprint">
                <td class="small" colspan="3" align="right">
<form action="/Document/View/0001201908120006?index=0" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" id="form0" method="post">Показывать страниц: <select data-val="true" data-val-number="Значением поля RangeSize должно быть число." data-val-required="Требуется поле RangeSize." id="RangeSize" name="RangeSize"><option value=""></option>
<option selected="selected">1</option>
<option>10</option>
<option>20</option>
<option>50</option>
<option>Все</option>
</select></form>                </td>
            </tr>
            <tr class="notforprint">
                <td align="center" colspan="3" class="small">
                    <div class="page-nave page-nave-dot">
                        <table>
        <tr>
            <td>
                    <a class="btn btn-primary disabled"><span class="contentbox">предыдущая</span></a>
            </td>

                                                            <td>
                                                                <a name="PageButton" class="page-nave-act contentbox">1</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=1&amp;rangeSize=1">2</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=2&amp;rangeSize=1">3</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=3&amp;rangeSize=1">4</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=4&amp;rangeSize=1">5</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=5&amp;rangeSize=1">6</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=6&amp;rangeSize=1">7</a>
                                                            </td>

                <td>...</td>

                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=8&amp;rangeSize=1">9</a>
                                                            </td>


            <td>
<a class="btn btn-primary" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=1&amp;rangeSize=1"><span class='contentbox'>следующая</span></a>            </td>
        </tr>
</table>

                    </div>
                    <div style="line-height: 0px; margin-bottom: -1px; height: 1px; clear: both; font-size: 0px; border-top: #ccc 1px solid;">
                    </div>
                </td>
            </tr>
            <tr class="notforprint">
                <td colspan="3">
                    <br>
                </td>
            </tr>
            <tr class="printPubNumSpan" align="center">
                <td colspan="3" align="center">
                    <span>Номер опубликования:&nbsp;0001201908120006</span>
                </td>
            </tr>

                <tr class="notforprint">
                    <td colspan="3" align="center">
                        <span style="margin-right: auto; margin-left: auto;">
                            Страница №<b>1</b>
                            из <b>9</b>:
                        </span>
                    </td>
                </tr>
                <tr>

                        <td colspan="3" id="imgContainer" align="center">
                            <img border="1" class="documentImage" alt="Для качественной печати: текущая страница в формате TIFF" src='/File/GetImage?documentId=5b2dc050-97d4-4aa8-a27e-bfa843c00707&amp;pngIndex=1' />
                        </td>
                </tr>
            <tr class="notforprint">
                <td align="center" colspan="3" class="small">
                    <div class="page-nave page-nave-dot">
                        <table>
        <tr>
            <td>
                    <a class="btn btn-primary disabled"><span class="contentbox">предыдущая</span></a>
            </td>

                                                            <td>
                                                                <a name="PageButton" class="page-nave-act contentbox">1</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=1&amp;rangeSize=1">2</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=2&amp;rangeSize=1">3</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=3&amp;rangeSize=1">4</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=4&amp;rangeSize=1">5</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=5&amp;rangeSize=1">6</a>
                                                            </td>


                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=6&amp;rangeSize=1">7</a>
                                                            </td>

                <td>...</td>

                                                            <td>
                                                                <a class="page-nave-def contentbox navigation" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=8&amp;rangeSize=1">9</a>
                                                            </td>


            <td>
<a class="btn btn-primary" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#DocumentDiv" href="/Document/View/0001201908120006?index=1&amp;rangeSize=1"><span class='contentbox'>следующая</span></a>            </td>
        </tr>
</table>

                    </div>
                    <div style="line-height: 0px; margin-bottom: -1px; height: 1px; clear: both; font-size: 0px; border-top: #ccc 1px solid;">
                    </div>
                </td>
            </tr>
        </table>
</div>



<div class="page-nave notforprint">
    <div style="padding-left: 20px;">
    </div>
</div>

                </div>
            </div>
        </div>
        <footer>
            <div class="copy-container notforprint">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="bottom-certificate">
                                <div class="row">
                                    <span>
                                        <a href="http://pravo.gov.ru/upload/medialibrary/aea/aea92c7a1a0cb2c5e8c2104cf6aceaff.jpg" target="_blank">Свидетельство о&nbsp;регистрации СМИ №&nbsp;ФС77-47467</a> &nbsp;&nbsp;&nbsp;
                                    </span>
                                    <span>
                                        <a href="http://pravo.gov.ru/upload/medialibrary/eaf/eafafedba15eba345ea36007b7bbd994.jpg" target="_blank">Электронный паспорт ФГИС №&nbsp;ФС77110096</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">

                            <div class="soc-bottom">
                                <div class="soc-block soc-top">
                                    <a title="Карта сайта" class="smap" href="http://pravo.gov.ru/karta-sayta/"></a>
                                    <div class="line"></div>
                                        <!-- Yandex.Metrika counter -->
                                        <script type="text/javascript" src="/Scripts/counter-yandex.js"></script>
                                        <noscript><div><img src="https://mc.yandex.ru/watch/25702331" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                                        <!-- /Yandex.Metrika counter -->
                                    <!--LiveInternet counter-->
                                    <script type="text/javascript" src="/Scripts/counter-liveinternet.js"></script>
                                    <!--/LiveInternet-->
                                </div>

                                <div class="lk-link">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <script type="text/javascript">
            $(document).ready(function () {
                $('#changeSiteVersion').click(function () {
                    $.ajax({
                        url: '/GSPI/ChangeSiteDisplayMode',
                        cache: false,
                        type: 'POST',
                        data: { 'displayMode': 'mobile' },
                        success: function (data) {
                            var cururl = location.href;

                            //As an HTTP redirect (back button will not work )
                            window.location.replace(cururl);

                            //like if you click on a link (it will be saved in the session history,
                            //so the back button will work as expected)
                            window.location.href = cururl;
                        }
                    });
                });
            });
        </script>

    </div>
</body>
</html>
