@font-face {
    font-family: Muller;
    src: url(../fonts/muller-ultralight.eot);
    src: url(../fonts/muller-ultralight-1.eot) format('embedded-opentype'), url(../fonts/muller-ultralight.woff) format('woff'), url(../fonts/muller-ultralight.ttf) format('truetype'), url(../fonts/muller-ultralight.svg) format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: Muller;
    src: url(../fonts/muller-light.eot);
    src: url(../fonts/muller-light-1.eot) format('embedded-opentype'), url(../fonts/muller-light.woff) format('woff'), url(../fonts/muller-light.ttf) format('truetype'), url(../fonts/muller-light.svg) format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: Muller;
    src: url(../fonts/muller-regular.eot);
    src: url(../fonts/muller-regular-1.eot) format('embedded-opentype'), url(../fonts/muller-regular.woff) format('woff'), url(../fonts/muller-regular.ttf) format('truetype'), url(../fonts/muller-regular.svg) format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: Muller;
    src: url(../fonts/muller-medium.eot);
    src: url(../fonts/muller-medium-1.eot) format('embedded-opentype'), url(../fonts/muller-medium.woff) format('woff'), url(../fonts/muller-medium.ttf) format('truetype'), url(../fonts/muller-medium.svg) format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: Muller;
    src: url(../fonts/muller-bold.eot);
    src: url(../fonts/muller-bold-1.eot) format('embedded-opentype'), url(../fonts/muller-bold.woff) format('woff'), url(../fonts/muller-bold.ttf) format('truetype'), url(../fonts/muller-bold.svg) format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: Muller;
    src: url(../fonts/muller-extrabold.eot);
    src: url(../fonts/muller-extrabold-1.eot) format('embedded-opentype'), url(../fonts/muller-extrabold.woff) format('woff'), url(../fonts/muller-extrabold.ttf) format('truetype'), url(../fonts/muller-extrabold.svg) format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon-1.eot) format('embedded-opentype'), url(../fonts/icomoon.woff) format('woff'), url(../fonts/icomoon.ttf) format('truetype'), url(../fonts/icomoon.svg) format('svg');
    font-weight: 400;
    font-style: normal
}