/*города в голосовании*/
/*
.city-nukus{
	top: 75% !important;
	left: 35% !important;
}
.city-sankt-peterburg{
	top: 54% !important;
	left: 10% !important;
}
.city-tambov{
	top: 69% !important;
	left: 24% !important;
}
.city-vologda{
	top: 55% !important;
	left: 25% !important;
}
.city-kazan{
	top: 65% !important;
	left: 31% !important;
}*/
